* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "sans-serif";
    scroll-behavior: smooth;
}

:root {

    --color-primary: #0D1117;
    --color-secondary: #f9f9f9;
    --color-secondary2: #868e96;
    --color-terciary: #30353d;
    --color-terciary-translucent: #30353d97;
    --color-terciary2-translucent: #dbdee497;
    --color-main: rgb(57, 239, 12);
}

@font-face {
    font-family: "Mars Model";
    src: url("../fonts/MarsModel.ttf") format("truetype");
}

@font-face {
    font-family: "Arame-Thin";
    src: url("../fonts/Arame-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "MonumentExtended";
    src: url("../fonts/MonumentExtended.otf") format("truetype");
}

@font-face {
    font-family: "BasementGrotesque";
    src: url("../fonts/BasementGrotesque.otf") format("truetype");
}


@font-face {
    font-family: "Nevolasty-Light";
    src: url("../fonts/Nevolasty-Light.otf") format("truetype");
}


@font-face {
    font-family: "BigCityVibes";
    src: url("../fonts/BigCityVibes.otf") format("truetype");
}

@font-face {
    font-family: "Headshots";
    src: url("../fonts/Headshots.otf") format("truetype");
}

@font-face {
    font-family: "DistortionDosAnalogue";
    src: url("../fonts/DistortionDosAnalogue.otf") format("truetype");
}

@font-face {
    font-family: "PIGARNOS-NEUE-Regular";
    src: url("../fonts/PIGARNOS-NEUE-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "StretchPro";
    src: url("../fonts/StretchPro.otf") format("truetype");
}

@font-face {
    font-family: "kenyan-coffee";
    src: url("../fonts/kenyan-coffee.otf") format("truetype");
}

@font-face {
    font-family: "Akira-Expanded";
    src: url("../fonts/Akira-Expanded.otf") format("truetype");
}

@font-face {
    font-family: "BLUE-OCEAN";
    src: url("../fonts/BLUE-OCEAN.ttf") format("truetype");
}

@font-face {
    font-family: "CHARLEY";
    src: url("../fonts/CHARLEY.otf") format("truetype");
}

@font-face {
    font-family: "VAL";
    src: url("../fonts/VAL.otf") format("truetype");
}


@font-face {
    font-family: "Akira";
    src: url("../fonts/Akira.otf") format("truetype");
}



html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: var(--color-primary);
    color: var(--color-secondary);
}

/* cursor section starts here */

.cursor {
    pointer-events: none;
    position: absolute;
    padding: 0.5vw;
    background-color: var(--color-secondary);
    /* Cambia este color al que desees en el modo claro */
    border-radius: 50%;
    z-index: 11;
    transition: transform 0.1s ease;

}

/* cursor section ends here */


/* navbar section starts here */

.container {
    width: 60%;
    max-width: 800px;
    margin: 0 auto;


}

header {
    margin-bottom: 1vh;
    height: 5.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    background: var(--color-terciary);
    border-radius: 1vw;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    z-index: 111;



}

header .header-left {
    display: flex;
    align-items: center;
    width: 100%;

}


header .header-left nav {
    margin-left: 1vw;
    width: 100%;

}

header .header-left nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;

}



nav ul li a {
    display: block;
    color: #cfd9e0;
    font-size: 1.5vw;
    font-family: "Akira";
    padding: 0.5vw 0.7vw;
    text-decoration: none;


}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;


}

nav ul li {
    margin: 0 1.3vw;

}


nav ul li a:hover,
nav ul li a.active {
    color: var(--color-main);
}


header .header-right {
    display: flex;
    align-items: center;


}

header .header-right .hamburger {
    margin-left: 2vw;
    cursor: pointer;
    display: none;
    padding: 0 1vw;

}

header .header-right .hamburger div {
    width: 3vw;
    height: 0.3vw;
    margin: 0.6vw 0;
    background: #fff;

}

/* Resolucion para Monitores */
@media only screen and (max-width: 1920px) {
    header {
        margin-bottom: 1vh;
        height: 4.5vw;
        display: flex;
        padding: 0 2vw;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 60vw;
        z-index: 111;
    }

    nav ul li a {
        display: block;
        color: #cfd9e0;
        font-size: 1.2vw;
        font-family: "Akira";
        padding: 0.5vw 0.7vw;
        text-decoration: none;
    }

}

@media only screen and (max-width: 1366px) {
    header {
        margin-bottom: 1vh;
        height: 4vw;
        display: flex;
        padding: 0 2vw;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 55vw;
        z-index: 111;
    }

    nav ul li a {
        display: block;
        color: #cfd9e0;
        font-size: 1vw;
        font-family: "Akira";
        padding: 0.4vw 0.6vw;
        text-decoration: none;
    }

}

@media only screen and (max-width: 1280px) {
    header {
        margin-bottom: 1vh;
        height: 3.8vw;
        display: flex;
        padding: 0 1vw;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 50vw;
        z-index: 111;
    }

    nav ul li a {
        display: block;
        color: #cfd9e0;
        font-size: 0.9vw;
        font-family: "Akira";
        padding: 0.2vw 0.4vw;
        text-decoration: none;
    }

}

/* Resolucion para Tablets */

@media only screen and (max-width: 1120px) {
    header {
        padding: 0 0px;
        margin-top: 1vh;
        ;
    }

    header .header-right .hamburger {
        display: block;

    }

    header .header-left nav {
        margin: 0;
        position: absolute;
        top: 14.5vw;
        width: 100%;
        height: fit-content;
        background-color: var(--color-terciary);
        padding: 3.5vw;
        transition: 0.3s;
        text-align: center;
        border-radius: 1vw;
        justify-content: center;
        z-index: 100;
    }


    header .header-left nav.active {
        top: -14.5vw;

    }

    header .header-left nav ul {
        display: inline-block;

    }
}

@media only screen and (max-width: 960px) {
    header {
        padding: 0 0px;
        margin-top: 1vh;
        ;
    }

    header .header-right .hamburger {
        display: block;


    }

    header .header-left nav {
        margin: 0;
        position: absolute;
        top: 14.5vw;
        width: 100%;
        height: fit-content;
        background-color: var(--color-terciary);
        padding: 3.5vw;
        transition: 0.3s;
        text-align: center;
        border-radius: 1vw;
        justify-content: center;
        z-index: 100;
    }


    header .header-left nav.active {
        top: -14.8vw;

    }

    header .header-left nav ul {
        display: inline-block;

    }
}

/* Resolucion para Celulares */

@media only screen and (max-width: 950px) {
    nav .login-signup {
        display: block;
        margin-top: 2vh;

    }

    header .header-right .login-signup {
        display: none;
    }

    header .header-left nav {
        margin: 0;
        position: absolute;
        top: 14.8vw;
        width: 100%;
        height: fit-content;
        background-color: var(--color-terciary);
        padding: 3.5vw;
        transition: 0.3s;
        text-align: center;
        border-radius: 1vw;
        justify-content: center;
        z-index: 100;
    }

    header .header-left nav.active {
        top: -14.8vw;

    }

    header .header-left nav ul {
        display: inline-block;

    }
}

@media only screen and (max-width: 430px) {
    nav .login-signup {
        display: block;
        margin-top: 2vh;

    }

    header .header-right .login-signup {
        display: none;
    }

    header .header-left nav {
        margin: 0;
        position: absolute;
        top: 14.8vw;
        width: 100%;
        height: fit-content;
        background-color: var(--color-terciary);
        padding: 3.5vw;
        transition: 0.3s;
        text-align: center;
        border-radius: 1vw;
        justify-content: center;
        z-index: 100;
    }

    header .header-left nav.active {
        top: -14.8vw;

    }

    header .header-left nav ul {
        display: inline-block;

    }

}



/* navbar section ends here */

/* home section starts here */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: var(--color-primary);

}

.phrase {
    text-align: center;
}

.phrase h2 {
    font-size: 9vw;
    font-family: "Akira";
    color: var(--color-main);
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: inline-block;
}

.phrase h2 span {
    font-size: 9vw;
    font-family: "StretchPro";
    color: var(--color-secondary);
}

.slogan {
    text-align: center;
    margin-top: 2vw;
    font-family: "Akira";
    color: var(--color-terciary);
    font-size: 2vw;
}


/* Resolcuon para Monitores */

@media only screen and (max-width: 1920px) {
    .phrase h2 {
        font-size: 9vw;
    }

    .phrase h2 span {
        font-size: 9vw;
    }

    .slogan {
        margin-top: 2vw;
        font-size: 2vw;
    }
}

@media only screen and (max-width: 1366px) {
    .phrase h2 {
        font-size: 8.5vw;
    }

    .phrase h2 span {
        font-size: 8.5vw;
    }

    .slogan {
        margin-top: 2vw;
        font-size: 1.8vw;
    }
}


@media only screen and (max-width: 1280px) {
    .phrase h2 {
        font-size: 8vw;
    }

    .phrase h2 span {
        font-size: 8vw;
    }

    .slogan {
        margin-top: 2vw;
        font-size: 1.6vw;
    }
}

/* Resolucion para Tablets */
@media only screen and (max-width: 1120px) {
    .phrase h2 {
        font-size: 7.8vw;
    }

    .phrase h2 span {
        font-size: 7.8vw;
    }

    .slogan {
        margin-top: 2vw;
        font-size: 1.5vw;
    }
}

@media only screen and (max-width: 960px) {
    .phrase h2 {
        font-size: 7.5vw;
    }

    .phrase h2 span {
        font-size: 7.5vw;
    }

    .slogan {
        margin-top: 2vw;
        font-size: 1.4vw;
    }
}

/* Resolucion para Celulares */

@media only screen and (max-width: 950px) {
    .phrase h2 {
        font-size: 7.4vw;
    }

    .phrase h2 span {
        font-size: 7.4vw;
    }

    .slogan {
        margin-top: 2vw;
        font-size: 1.3vw;
    }
}

@media only screen and (max-width: 430px) {
    .phrase h2 {
        font-size: 7.2vw;
    }

    .phrase h2 span {
        font-size: 7.2vw;
    }

    .slogan {
        margin-top: 2vw;
        font-size: 1.2vw;
    }
}



/* home section ends here */

/* about section starts here */

.about {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    position: relative;
}

.text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 100;

}

.text h2 {
    font-size: 5vw;
    font-family: "PIGARNOS-NEUE-Regular";
    color: var(--color-main);
}

.background-image {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}


/* Resolucion para Monitores */

@media (max-width: 1920px) {
    .about {
        height: 100vh;
        width: 100%;
    }

    .text h2 {
        font-size: 5vw;
    }

}

@media (max-width: 1366px) {
    .about {
        height: 95vh;
        width: 100%;
    }

    .text h2 {
        font-size: 4.2vw;
    }

}

@media (max-width: 1280px) {
    .about {
        height: 90vh;
        width: 100%;
    }

    .text h2 {
        font-size: 4vw;
    }

}

/* Resolucion para Tablets */

@media (max-width: 1120px) {
    .about {
        height: 80vh;
        width: 100%;
    }

    .text h2 {
        font-size: 3.8vw;
    }

}

@media (max-width: 960px) {
    .about {
        height: 70vh;
        width: 100%;
    }

    .text h2 {
        font-size: 3.7vw;
    }

}

/* Resolucion para Celulares */

@media (max-width: 950px) {
    .about {
        height: 69vh;
        width: 100%;
    }

    .text h2 {
        font-size: 3.7vw;
    }

}

@media (max-width: 430px) {
    .about {
        height: 29vh;
        width: 100%;
    }

    .text h2 {
        font-size: 3.7vw;
    }

}

/* about section ends here */

/* description section starts here */

.description {
    width: 100%;
    text-align: left;
    justify-content: center;
    margin-top: -25vh;
    margin-bottom: 15vh;
    margin-left: -9vh;



}

.description-table {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    margin-top: 2vh;

    /* Espaciado superior */
}

td {
    padding: 1vw;
    font-family: "PiGARNOS-NEUE-Regular";
    color: var(--color-main);
    /* Borde para las celdas */
}

td span {
    color: var(--color-secondary);
    font-family: "Akira";
}


@media only screen and (max-width: 768px) {

    .description {
        margin-top: -10vh;
        margin-left: 10vh;
    }

    .description-table {
        max-width: 100%;
    }

    td {
        font-size: 2vw;
        padding: 1vw;
    }
}

/* description section ends here */



/* button section starts here */

.toggle-container {
    position: absolute;
    top: 2vh;
    right: 2vw;
    display: flex;
    align-items: center;
}

.toggle-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 1vw;
    padding: 1.6vw;
    color: var(--color-secondary);
}


.toggle-switch {
    position: relative;
    display: inline-block;
    width: 2vw;
    height: 1vw;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 2vw;
    transition: 0.4s;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 1vw;
    width: 1vw;
    left: 0vw;
    bottom: 0vw;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

/* Estilos para cambiar el color cuando está activado */
.toggle-input:checked+.toggle-switch .toggle-slider {
    background-color: #2196F3;
}

.toggle-input:checked+.toggle-switch .toggle-slider:before {
    transform: translateX(1vw);
}

.toggle-input {
    display: none;
    /* Ocultar el input nativo */
}



/* button section ends here */

/* scroll arrow section starts here */
.scroll-down {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 20vh;
    display: block;
    text-align: center;
    font-size: 1.5vw;
    z-index: 0;
    text-decoration: none;
    text-shadow: 0;
    width: 1vw;
    height: 1vw;
    border-bottom: 0.2vw solid #fff;
    border-right: 0.2vw solid #fff;
    transform: translate(-50%, 0) rotate(45deg);
    animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes fade_move_down {
    0% {
        transform: translate(0, -2vh) rotate(45deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(0, 2vh) rotate(45deg);
        opacity: 0;
    }
}


/* scroll arrow section ends here */

/* dark-mode section starts here */

.dark-mode .cursor {
    background-color: var(--color-secondary);
}

.light-mode .cursor {
    background-color: var(--color-primary);
}


body.dark-mode {
    background: var(--color-primary);
    color: var(--color-secondary);
}

body.light-mode {
    background: var(--color-secondary2);
    color: var(--color-primary);
}

body.dark-mode header {
    background: var(--color-terciary-translucent);

}

body.light-mode header {
    background: var(--color-terciary2-translucent);

}

body.dark-mode header nav ul li a {
    color: var(--color-secondary);
}

body.dark-mode header nav ul li a:hover,
body.dark-mode header nav ul li a.active {
    color: var(--color-main);
}

body.light-mode header nav ul li a {
    color: var(--color-primary);

}

body.light-mode header nav ul li a:hover,
body.light-mode header nav ul li a.active {
    color: var(--color-main);

}

body.light-mode header {
    background: var(--color-secondary);
}

body.light-mode header .header-left nav {
    background: var(--color-secondary);
}

body.light-mode header .header-right .hamburger div {
    background: var(--color-primary);
}

.dark-mode .home {
    background: var(--color-primary);
    color: var(--color-secondary);
}

.light-mode .home {
    background: var(--color-secondary2);
    color: var(--color-primary);
}


.dark-mode .custom-fixed-button {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: solid 1px var(--color-secondary);
}

.light-mode .custom-fixed-button {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: solid 1px var(--color-primary);
}

.dark-mode .home .phrase h2 {
    color: var(--color-main);
}


.light-mode .home .phrase h2 {
    color: var(--color-main);
}

.dark-mode .home .phrase h2 span {
    color: var(--color-secondary);
}

.light-mode .home .phrase h2 span {
    color: var(--color-primary);
}

.light-mode .home .slogan {
    color: var(--color-terciary-translucent);
}

.light-mode .description .description-table span {
    color: var(--color-primary);
}