* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "sans-serif";

}

:root {

    --color-primary: #0D1117;
    --color-secondary: #f9f9f9;
    --color-terciary: #30353d;
    --color-terciary-translucent: #30353d97;
    --color-main: rgb(195, 8, 8);
}

@font-face {
    font-family: "Mars Model";
    src: url("../fonts/MarsModel.ttf") format("truetype");
}

@font-face {
    font-family: "Arame-Thin";
    src: url("../fonts/Arame-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "MonumentExtended";
    src: url("../fonts/MonumentExtended.otf") format("truetype");
}

@font-face {
    font-family: "BasementGrotesque";
    src: url("../fonts/BasementGrotesque.otf") format("truetype");
}


@font-face {
    font-family: "Nevolasty-Light";
    src: url("../fonts/Nevolasty-Light.otf") format("truetype");
}


@font-face {
    font-family: "BigCityVibes";
    src: url("../fonts/BigCityVibes.otf") format("truetype");
}

@font-face {
    font-family: "Headshots";
    src: url("../fonts/Headshots.otf") format("truetype");
}

@font-face {
    font-family: "DistortionDosAnalogue";
    src: url("../fonts/DistortionDosAnalogue.otf") format("truetype");
}

@font-face {
    font-family: "PIGARNOS-NEUE-Regular";
    src: url("../fonts/PIGARNOS-NEUE-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "StretchPro";
    src: url("../fonts/StretchPro.otf") format("truetype");
}

@font-face {
    font-family: "kenyan-coffee";
    src: url("../fonts/kenyan-coffee.otf") format("truetype");
}

@font-face {
    font-family: "Akira-Expanded";
    src: url("../fonts/Akira-Expanded.otf") format("truetype");
}

body,
html {

    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: var(--color-primary);
    color: var(--color-secondary);
}


/* navbar section starts here */

.container {
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
}

header {
    margin-top: 20px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background: var(--color-terciary-translucent);
    border-radius: 10px;


}

header .header-left {
    display: flex;
    align-items: center;
}

header .header-left .logo {
    width: 140px;
}

header .header-left nav {
    margin-left: 50px;
}

header .header-left nav ul {
    display: flex;
}

nav ul li a {
    display: block;
    color: #cfd9e0;
    font-size: 18px;
    font-family: "Arame-Thin";
    padding: 5px 10px;
    transition: 0.2s;

}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

nav ul li {
    margin: 0 15px;
}


nav ul li a:hover,
nav ul li a.active {
    color: #fff;
}

nav .login-signup {
    display: none;
}

header .header-right {
    display: flex;
    align-items: center;

}

header .login-signup {
    color: #cfd9e0;
    font-weight: bold;
    font-family: "Arame-Thin";
}

header .login-signup a {
    display: inline-block;
    color: #0b2239;
    background: #4ad295;
    padding: 5px 12px;
    border-radius: 5px;
    font-family: "Arame-Thin";
}

header .header-right .hamburger {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}

header .header-right .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #fff;
}

@media only screen and (max-width: 1120px) {
    header {
        padding: 0 4px;
        margin-top: 10px;


    }

    header .header-right .hamburger {
        display: block;

    }

    header .header-left nav {
        margin: 0;
        position: absolute;
        top: -100%;
        width: 59.5%;
        height: fit-content;
        background-color: var(--color-terciary);
        padding: 30px;
        transition: 0.3s;
        text-align: center;
        border-radius: 10px;
        justify-content: center;
        z-index: 100;
    }

    header .header-left nav.active {
        top: 90px;

    }

    header .header-left nav ul {
        display: inline-block;


    }
}

@media only screen and (max-width: 500px) {
    nav .login-signup {
        display: block;
        margin-top: 20px;
    }

    header .header-right .login-signup {
        display: none;
    }
}

/* navbar section ends here */

/* home section starts here */

.home {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    width: 100%;
    height: 100vh;
    /* Make the container cover the full viewport height */
    background: var(--color-primary);
}


.phrase {
    text-align: center;
    /* Center the text inside the .phrase container */
}

.phrase h2 {
    font-size: 44px;
    font-family: "StretchPro";
    color: var(--color-terciary);
    border-right: 4px solid;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(20, end) infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }


}


@media only screen and (max-width: 768px) {
    .phrase h2 {
        font-size: 18px;
        /* Change the font size for smaller screens */
    }
}

/* home section ends here */

/* about section starts here */

.about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    position: relative;
}

.text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 100;
    
}

.text h2 {
    font-size: 70px;
    font-family: "PIGARNOS-NEUE-Regular";
    color: var(--color-main);
}



.parallax {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background-image {
    position: absolute;
    width: 200px;
    /* Tamaño de las imágenes de fondo */
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .about {
        background-size: 150px, 180px, 200px;
        /* Ajusta el tamaño de las imágenes para pantallas más pequeñas */
        height: 60vh;
        /* Ajusta la altura para pantallas más pequeñas */
    }
}

/* about section ends here */

/* button section starts here */

.fixed-button {
    position: fixed;
    left: 20px;
    bottom: 20px;
    border-radius: 10px;
    background-color: var(--color-terciary-translucent);
    border: solid 1px var(--color-secondary);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* button section ends here */


/* dark-mode section starts here */

body.dark-mode {
    background: var(--color-secondary);
    color: var(--color-primary);
}

.dark-mode .home {
    background: var(--color-secondary);
    color: var(--color-primary);
}
