/* TODO: root section starts here */

:root {
  --color-primary: #0D1117;
  --color-secondary: #f9f9f9;
  --color-secondary2: #868e96;
  --color-terciary: #30353d;
  --color-terciary-translucent: #30353d97;
  --color-terciary2-translucent: #dbdee497;
  --color-main2: #d32222;
  --color-main: rgb(57, 239, 12);
}


/* TODO: root section ends here */


/* ? tipografias section starts here */

@font-face {
  font-family: "Mars Model";
  src: url("../fonts/MarsModel.ttf") format("truetype");
}

@font-face {
  font-family: "Arame-Thin";
  src: url("../fonts/Arame-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "MonumentExtended";
  src: url("../fonts/MonumentExtended.otf") format("truetype");
}

@font-face {
  font-family: "BasementGrotesque";
  src: url("../fonts/BasementGrotesque.otf") format("truetype");
}

@font-face {
  font-family: "Nevolasty-Light";
  src: url("../fonts/Nevolasty-Light.otf") format("truetype");
}

@font-face {
  font-family: "BigCityVibes";
  src: url("../fonts/BigCityVibes.otf") format("truetype");
}

@font-face {
  font-family: "Headshots";
  src: url("../fonts/Headshots.otf") format("truetype");
}

@font-face {
  font-family: "DistortionDosAnalogue";
  src: url("../fonts/DistortionDosAnalogue.otf") format("truetype");
}

@font-face {
  font-family: "PIGARNOS-NEUE-Regular";
  src: url("../fonts/PIGARNOS-NEUE-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "StretchPro";
  src: url("../fonts/StretchPro.otf") format("truetype");
}

@font-face {
  font-family: "kenyan-coffee";
  src: url("../fonts/kenyan-coffee.otf") format("truetype");
}

@font-face {
  font-family: "Akira-Expanded";
  src: url("../fonts/Akira-Expanded.otf") format("truetype");
}

@font-face {
  font-family: "BLUE-OCEAN";
  src: url("../fonts/BLUE-OCEAN.ttf") format("truetype");
}

@font-face {
  font-family: "CHARLEY";
  src: url("../fonts/CHARLEY.otf") format("truetype");
}

@font-face {
  font-family: "VAL";
  src: url("../fonts/VAL.otf") format("truetype");
}

@font-face {
  font-family: "Akira";
  src: url("../fonts/Akira.otf") format("truetype");
}

@font-face {
  font-family: "nothing";
  src: url("../fonts/nothing.ttf") format("truetype");
}


/* ? tipografias section ends here */


/* * HTML BODY section starts here */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Monument Extended", sans-serif;
  overflow: hidden;
  background: #ffffff;
}


/* ? Dark-Mode Body */

body.dark-mode {
  background: #0D1117;
}


/* TODO: Cursor Body */

.cursor {
  pointer-events: none;
  position: absolute;
  padding: 0.9vw;
  border: 2px solid #000000;
  border-radius: 50%;
  z-index: 200;
  transition: transform 0.1s ease;
}


/* ? Dark-Mode Cursor */

body.dark-mode .cursor {
  border: 2px solid #ffff;
}


/* * HTML BODY section ends here */


/* * NAV section starts here */

nav {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
}

.menu-item {
  flex: 1;
}

.menu-left {
  text-align: left;
  font-family: "nothing";
}


/* ? Dark-Mode Menu-Left */

body.dark-mode .menu-left span a {
  color: var(--color-secondary);
}

body.dark-mode .menu-left span a:hover {
  color: var(--color-main2);
}

.menu-left span a {
  color: var(--color-primary);
  text-decoration: none;
}

.menu-left span a:hover {
  text-decoration: none;
  color: var(--color-main2);
}

.menu-center {
  text-align: center;
  font-family: "nothing";
}


/* ? Dark-Mode Menu-Center */

body.dark-mode .menu-center a {
  color: var(--color-secondary);
}

body.dark-mode .menu-center a:hover {
  color: var(--color-main2);
}

.menu-center .brand-logo a {
  color: var(--color-primary);
  text-decoration: none;
}

.menu-center .brand-logo a:hover {
  color: var(--color-main2);
  text-decoration: none;
}

.menu-right {
  text-align: right;
  font-family: "nothing";
}


/* ? Dark-Mode Menu-Right */

body.dark-mode .menu-right span a {
  color: var(--color-secondary);
}

body.dark-mode .menu-right span a:hover {
  color: var(--color-main2);
}

.menu-right span a {
  color: var(--color-primary);
  text-decoration: none;
}

.menu-right span a:hover {
  color: var(--color-main2);
  text-decoration: none;
}

.menu-link {
  padding: 0 30px;
}


/* * NAV section ends here */


/* * WRAPPER-IMG section stars here */

.wrapper-img {
  overflow: hidden;
  position: relative;
  top: 5% !important;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 30%;
  height: 80vh;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box {
  background: white;
  opacity: 0.8;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}


/* ? Dark-Mode Box */

body.dark-mode .box {
  background: var(--color-primary);
  opacity: 0.8;
}


/* * WRAPPER-IMG section ends here */


/* * HEADER section starts here */

.header {
  position: absolute;
  top: 60%;
  left: 28%;
  transform: translate(-50%, -50%);
}

.header h1 {
  font-size: 90px;
  text-transform: uppercase;
  margin: 0;
  mix-blend-mode: overlay;
}

.header-1 .letter {
  display: inline-block;
  line-height: 1em;
  color: var(--color-main2);
  font-family: "Akira";
}

.header-2 .letter {
  display: inline-block;
  line-height: 1em;
  font-family: "Akira";
}


/* ? Dark-Mode Header-2 */

body.dark-mode .header-2 .letter {
  color: var(--color-secondary);
}


/* * HEADER section ends here */


/* * HERO-CONTAINER section starts here */

.sidebar-text {
  position: absolute;
  top: 20%;
  right: 7%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: transparent;
  -webkit-text-stroke: 2px rgb(165, 165, 165);
  font-family: "nothing";
}

.change {
  position: absolute;
  bottom: 10%;
  left: 15%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-decoration: underline;
  font-family: "nothing";
}


/* ? Dark-Mode Change */

body.dark-mode .change {
  color: var(--color-secondary);
}

.img-nav {
  position: absolute;
  right: 13%;
  bottom: 13%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: grey;
  font-family: "nothing";
}

.next {
  position: relative;
  top: 40px;
  left: 80px;
}


/* * HERO-CONTAINER section ends here */


/* media queries  */

@media (max-width: 900px) {
  .wrapper-img {
    width: 90%;
  }

  .header {
    top: 50%;
    left: 50%;
    text-align: center;
  }

  .header h1 {
    font-size: 40px;
  }

  .projects,
  .img-nav {
    display: none;
  }
}