:root {

    --color-primary: #0D1117;
    --color-secondary: #f9f9f9;
    --color-secondary2: #868e96;
    --color-terciary: #30353d;
    --color-terciary-translucent: #30353d97;
    --color-terciary2-translucent: #dbdee497;
    --color-main: rgb(57, 239, 12);
}

@font-face {
    font-family: "Mars Model";
    src: url("../fonts/MarsModel.ttf") format("truetype");
}

@font-face {
    font-family: "Arame-Thin";
    src: url("../fonts/Arame-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "MonumentExtended";
    src: url("../fonts/MonumentExtended.otf") format("truetype");
}

@font-face {
    font-family: "BasementGrotesque";
    src: url("../fonts/BasementGrotesque.otf") format("truetype");
}


@font-face {
    font-family: "Nevolasty-Light";
    src: url("../fonts/Nevolasty-Light.otf") format("truetype");
}


@font-face {
    font-family: "BigCityVibes";
    src: url("../fonts/BigCityVibes.otf") format("truetype");
}

@font-face {
    font-family: "Headshots";
    src: url("../fonts/Headshots.otf") format("truetype");
}

@font-face {
    font-family: "DistortionDosAnalogue";
    src: url("../fonts/DistortionDosAnalogue.otf") format("truetype");
}

@font-face {
    font-family: "PIGARNOS-NEUE-Regular";
    src: url("../fonts/PIGARNOS-NEUE-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "StretchPro";
    src: url("../fonts/StretchPro.otf") format("truetype");
}

@font-face {
    font-family: "kenyan-coffee";
    src: url("../fonts/kenyan-coffee.otf") format("truetype");
}

@font-face {
    font-family: "Akira-Expanded";
    src: url("../fonts/Akira-Expanded.otf") format("truetype");
}

@font-face {
    font-family: "BLUE-OCEAN";
    src: url("../fonts/BLUE-OCEAN.ttf") format("truetype");
}

@font-face {
    font-family: "CHARLEY";
    src: url("../fonts/CHARLEY.otf") format("truetype");
}

@font-face {
    font-family: "VAL";
    src: url("../fonts/VAL.otf") format("truetype");
}


@font-face {
    font-family: "Akira";
    src: url("../fonts/Akira.otf") format("truetype");
}

body {
    background-color: var(--color-primary); /* Fondo oscuro */
    color: var(--color-secondary); /* Texto blanco */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Estilo para la tabla */
.table {
    border-radius: 10px;
    overflow: hidden;
    background-color: #343a40; /* Fondo oscuro */
}

.table thead {
    background-color: #212529; /* Encabezado oscuro */
    color: #fff;
    margin-bottom: 10px; /* Margen inferior para th */
}

.table th,
.table td {
    font-family: "Akira";
    font-size: 0.6vw;
    text-align: center;
    color: #fff;
    margin-bottom: 10px; /* Margen inferior para td */
}

/* Estilo para las imágenes */
.img-thumbnail {
    border-radius: 10px;
}

/* Estilo para los botones */
.btn {
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
}

.btn-danger {
    background-color: #dc3545; /* Rojo oscuro */
    border: 1px solid #dc3545;
    color: #fff;
}

.btn-danger a {
    text-decoration: none;
    font-size: 0.8vw;
    font-family: "Akira";
    color: #fff;
}

.btn-success {
    background-color: #28a745; /* Verde oscuro */
    border: 1px solid #28a745;
    color: #fff;
}

.btn-success a {
    text-decoration: none;
    color: #fff;
    font-size: 0.8vw;
    font-family: "Akira";
}

.btn-primary {
    background-color: #007bff; /* Azul oscuro */
    border: 1px solid #007bff;
    color: #fff;
    font-size: 0.8vw;
    font-family: "Akira";
}

header {
    margin-bottom: 1vh;
    height: 5.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    background: var(--color-terciary);
    border-radius: 1vw;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    z-index: 111;



}

header .header-left {
    display: flex;
    align-items: center;
    width: 100%;

}


header .header-left nav {
    margin-left: 1vw;
    width: 100%;

}

header .header-left nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;

}



nav ul li a {
    display: block;
    color: #cfd9e0;
    font-size: 1.5vw;
    font-family: "Akira";
    padding: 0.5vw 0.7vw;
    text-decoration: none;


}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;


}

nav ul li {
    margin: 0 1.3vw;

}


nav ul li a:hover,
nav ul li a.active {
    color: var(--color-main);
}


header .header-right {
    display: flex;
    align-items: center;


}

header .header-right .hamburger {
    margin-left: 2vw;
    cursor: pointer;
    display: none;
    padding: 0 1vw;

}

header .header-right .hamburger div {
    width: 3vw;
    height: 0.3vw;
    margin: 0.6vw 0;
    background: #fff;

}

/* Resolucion para Monitores */
@media only screen and (max-width: 1920px) {
    header {
        margin-bottom: 1vh;
        height: 4.5vw;
        display: flex;
        padding: 0 2vw;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 60vw;
        z-index: 111;
    }

    nav ul li a {
        display: block;
        color: #cfd9e0;
        font-size: 1.2vw;
        font-family: "Akira";
        padding: 0.5vw 0.7vw;
        text-decoration: none;
    }

}

@media only screen and (max-width: 1366px) {
    header {
        margin-bottom: 1vh;
        height: 4vw;
        display: flex;
        padding: 0 2vw;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 55vw;
        z-index: 111;
    }

    nav ul li a {
        display: block;
        color: #cfd9e0;
        font-size: 1vw;
        font-family: "Akira";
        padding: 0.4vw 0.6vw;
        text-decoration: none;
    }

}

@media only screen and (max-width: 1280px) {
    header {
        margin-bottom: 1vh;
        height: 3.8vw;
        display: flex;
        padding: 0 1vw;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 50vw;
        z-index: 111;
    }

    nav ul li a {
        display: block;
        color: #cfd9e0;
        font-size: 0.9vw;
        font-family: "Akira";
        padding: 0.2vw 0.4vw;
        text-decoration: none;
    }

}

/* Resolucion para Tablets */

@media only screen and (max-width: 1120px) {
    header {
        padding: 0 0px;
        margin-top: 1vh;
        ;
    }

    header .header-right .hamburger {
        display: block;

    }

    header .header-left nav {
        margin: 0;
        position: absolute;
        top: 14.5vw;
        width: 100%;
        height: fit-content;
        background-color: var(--color-terciary);
        padding: 3.5vw;
        transition: 0.3s;
        text-align: center;
        border-radius: 1vw;
        justify-content: center;
        z-index: 100;
    }


    header .header-left nav.active {
        top: -15.5vw;

    }

    header .header-left nav ul {
        display: inline-block;

    }
}

@media only screen and (max-width: 960px) {
    header {
        padding: 0 0px;
        margin-top: 1vh;
        ;
    }

    header .header-right .hamburger {
        display: block;


    }

    header .header-left nav {
        margin: 0;
        position: absolute;
        top: 14.5vw;
        width: 100%;
        height: fit-content;
        background-color: var(--color-terciary);
        padding: 3.5vw;
        transition: 0.3s;
        text-align: center;
        border-radius: 1vw;
        justify-content: center;
        z-index: 100;
    }


    header .header-left nav.active {
        top: -15.8vw;

    }

    header .header-left nav ul {
        display: inline-block;

    }
}

/* Resolucion para Celulares */

@media only screen and (max-width: 950px) {
    nav .login-signup {
        display: block;
        margin-top: 2vh;

    }

    header .header-right .login-signup {
        display: none;
    }

    header .header-left nav {
        margin: 0;
        position: absolute;
        top: 14.8vw;
        width: 100%;
        height: fit-content;
        background-color: var(--color-terciary);
        padding: 3.5vw;
        transition: 0.3s;
        text-align: center;
        border-radius: 1vw;
        justify-content: center;
        z-index: 100;
    }

    header .header-left nav.active {
        top: -15.8vw;

    }

    header .header-left nav ul {
        display: inline-block;

    }
}

@media only screen and (max-width: 430px) {
    nav .login-signup {
        display: block;
        margin-top: 2vh;

    }

    header .header-right .login-signup {
        display: none;
    }

    header .header-left nav {
        margin: 0;
        position: absolute;
        top: 14.8vw;
        width: 100%;
        height: fit-content;
        background-color: var(--color-terciary);
        padding: 3.5vw;
        transition: 0.3s;
        text-align: center;
        border-radius: 1vw;
        justify-content: center;
        z-index: 100;
    }

    header .header-left nav.active {
        top: -15.8vw;

    }

    header .header-left nav ul {
        display: inline-block;

    }

}


.btn-success:hover {
background-color: #45a049;
}


/* navbar section starts here */

.container {
width: 100%;
max-width: 800px;
margin: 0 auto;


}

header {
margin-bottom: 1vh;
height: 5.5vw;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 2vw;
background: var(--color-terciary);
border-radius: 1vw;
position: fixed;
bottom: 0;
left: 50%;
transform: translateX(-50%);
width: 80vw;
z-index: 111;



}

header .header-left {
display: flex;
align-items: center;
width: 100%;

}


header .header-left nav {
margin-left: 1vw;
width: 100%;

}

header .header-left nav ul {
display: flex;
justify-content: center;
list-style: none;
padding: 0;
margin: 0;

}



nav ul li a {
display: block;
color: #cfd9e0;
font-size: 1.5vw;
font-family: "Akira";
padding: 0.5vw 0.7vw;
text-decoration: none;


}

header nav ul {
display: flex;
justify-content: center;
align-items: center;


}

nav ul li {
margin: 0 1.3vw;

}


nav ul li a:hover,
nav ul li a.active {
color: var(--color-main);
}


header .header-right {
display: flex;
align-items: center;


}

header .header-right .hamburger {
margin-left: 2vw;
cursor: pointer;
display: none;
padding: 0 1vw;

}

header .header-right .hamburger div {
width: 3vw;
height: 0.3vw;
margin: 0.6vw 0;
background: #fff;

}

/* Resolucion para Monitores */
@media only screen and (max-width: 1920px) {
header {
    margin-bottom: 1vh;
    height: 4.5vw;
    display: flex;
    padding: 0 2vw;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    z-index: 111;
}

nav ul li a {
    display: block;
    color: #cfd9e0;
    font-size: 1.2vw;
    font-family: "Akira";
    padding: 0.5vw 0.7vw;
    text-decoration: none;
}

}

@media only screen and (max-width: 1366px) {
header {
    margin-bottom: 1vh;
    height: 4vw;
    display: flex;
    padding: 0 2vw;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 55vw;
    z-index: 111;
}

nav ul li a {
    display: block;
    color: #cfd9e0;
    font-size: 1vw;
    font-family: "Akira";
    padding: 0.4vw 0.6vw;
    text-decoration: none;
}

}

@media only screen and (max-width: 1280px) {
header {
    margin-bottom: 1vh;
    height: 3.8vw;
    display: flex;
    padding: 0 1vw;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    z-index: 111;
}

nav ul li a {
    display: block;
    color: #cfd9e0;
    font-size: 0.9vw;
    font-family: "Akira";
    padding: 0.2vw 0.4vw;
    text-decoration: none;
}

}

/* Resolucion para Tablets */

@media only screen and (max-width: 1120px) {
header {
    padding: 0 0px;
    margin-top: 1vh;
    ;
}

header .header-right .hamburger {
    display: block;

}

header .header-left nav {
    margin: 0;
    position: absolute;
    top: 14.5vw;
    width: 100%;
    height: fit-content;
    background-color: var(--color-terciary);
    padding: 3.5vw;
    transition: 0.3s;
    text-align: center;
    border-radius: 1vw;
    justify-content: center;
    z-index: 100;
}


header .header-left nav.active {
    top: -15.5vw;

}

header .header-left nav ul {
    display: inline-block;

}
}

@media only screen and (max-width: 960px) {
header {
    padding: 0 0px;
    margin-top: 1vh;
    ;
}

header .header-right .hamburger {
    display: block;


}

header .header-left nav {
    margin: 0;
    position: absolute;
    top: 14.5vw;
    width: 100%;
    height: fit-content;
    background-color: var(--color-terciary);
    padding: 3.5vw;
    transition: 0.3s;
    text-align: center;
    border-radius: 1vw;
    justify-content: center;
    z-index: 100;
}


header .header-left nav.active {
    top: -15.8vw;

}

header .header-left nav ul {
    display: inline-block;

}
}

/* Resolucion para Celulares */

@media only screen and (max-width: 950px) {
nav .login-signup {
    display: block;
    margin-top: 2vh;

}

header .header-right .login-signup {
    display: none;
}

header .header-left nav {
    margin: 0;
    position: absolute;
    top: 14.8vw;
    width: 100%;
    height: fit-content;
    background-color: var(--color-terciary);
    padding: 3.5vw;
    transition: 0.3s;
    text-align: center;
    border-radius: 1vw;
    justify-content: center;
    z-index: 100;
}

header .header-left nav.active {
    top: -15.8vw;

}

header .header-left nav ul {
    display: inline-block;

}
}

@media only screen and (max-width: 430px) {
nav .login-signup {
    display: block;
    margin-top: 2vh;

}

header .header-right .login-signup {
    display: none;
}

header .header-left nav {
    margin: 0;
    position: absolute;
    top: 14.8vw;
    width: 100%;
    height: fit-content;
    background-color: var(--color-terciary);
    padding: 3.5vw;
    transition: 0.3s;
    text-align: center;
    border-radius: 1vw;
    justify-content: center;
    z-index: 100;
}

header .header-left nav.active {
    top: -15.8vw;

}

header .header-left nav ul {
    display: inline-block;

}

}
