:root {

    --color-primary: #0D1117;
    --color-secondary: #f9f9f9;
    --color-secondary2: #868e96;
    --color-terciary: #30353d;
    --color-terciary-translucent: #30353d97;
    --color-terciary2-translucent: #dbdee497;
    --color-main: rgb(57, 239, 12);
}

@font-face {
    font-family: "Mars Model";
    src: url("../fonts/MarsModel.ttf") format("truetype");
}

@font-face {
    font-family: "Arame-Thin";
    src: url("../fonts/Arame-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "MonumentExtended";
    src: url("../fonts/MonumentExtended.otf") format("truetype");
}

@font-face {
    font-family: "BasementGrotesque";
    src: url("../fonts/BasementGrotesque.otf") format("truetype");
}


@font-face {
    font-family: "Nevolasty-Light";
    src: url("../fonts/Nevolasty-Light.otf") format("truetype");
}


@font-face {
    font-family: "BigCityVibes";
    src: url("../fonts/BigCityVibes.otf") format("truetype");
}

@font-face {
    font-family: "Headshots";
    src: url("../fonts/Headshots.otf") format("truetype");
}

@font-face {
    font-family: "DistortionDosAnalogue";
    src: url("../fonts/DistortionDosAnalogue.otf") format("truetype");
}

@font-face {
    font-family: "PIGARNOS-NEUE-Regular";
    src: url("../fonts/PIGARNOS-NEUE-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "StretchPro";
    src: url("../fonts/StretchPro.otf") format("truetype");
}

@font-face {
    font-family: "kenyan-coffee";
    src: url("../fonts/kenyan-coffee.otf") format("truetype");
}

@font-face {
    font-family: "Akira-Expanded";
    src: url("../fonts/Akira-Expanded.otf") format("truetype");
}

@font-face {
    font-family: "BLUE-OCEAN";
    src: url("../fonts/BLUE-OCEAN.ttf") format("truetype");
}

@font-face {
    font-family: "CHARLEY";
    src: url("../fonts/CHARLEY.otf") format("truetype");
}

@font-face {
    font-family: "VAL";
    src: url("../fonts/VAL.otf") format("truetype");
}


@font-face {
    font-family: "Akira";
    src: url("../fonts/Akira.otf") format("truetype");
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
}

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

/* Estilos para la sección de filtrado en el lado izquierdo */
#tipo {
    margin-top: 5vh;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #444; /* Fondo oscuro para el cuadro de filtro */
    color: #fff;
    border: none;
}

/* Estilos para la sección de productos en el lado derecho */
#bfor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    background-color: #333; /* Fondo oscuro para cada elemento */
    border: 1px solid #555; /* Borde más claro */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
    padding: 20px;
    text-align: center;
    max-width: 300px;
}

.img-item {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.titulo-item {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 5px;
}

.precio-item {
    color: #4CAF50;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.cantidad-input {
    width: 50px;
    margin-right: 10px;
}

.boton-item {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-item:hover {
    background-color: #45a049;
}

.btn-success {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-success:hover {
    background-color: #45a049;
}
