/* TODO: root section starts here */

:root {
	--color-primary: #0D1117;
	--color-secondary: #f9f9f9;
	--color-secondary2: #868e96;
	--color-terciary: #30353d;
	--color-terciary-translucent: #30353d97;
	--color-terciary2-translucent: #dbdee497;
	--color-main2: #d32222;
	--color-main: rgb(57, 239, 12);
	--color-pure: #ffffff;
	--color-impure: #000000;
}


/* TODO: root section ends here */


/* ? tipografias section starts here */

@font-face {
	font-family: "Mars Model";
	src: url("../fonts/MarsModel.ttf") format("truetype");
}

@font-face {
	font-family: "Arame-Thin";
	src: url("../fonts/Arame-Thin.ttf") format("truetype");
}

@font-face {
	font-family: "MonumentExtended";
	src: url("../fonts/MonumentExtended.otf") format("truetype");
}

@font-face {
	font-family: "BasementGrotesque";
	src: url("../fonts/BasementGrotesque.otf") format("truetype");
}

@font-face {
	font-family: "Nevolasty-Light";
	src: url("../fonts/Nevolasty-Light.otf") format("truetype");
}

@font-face {
	font-family: "BigCityVibes";
	src: url("../fonts/BigCityVibes.otf") format("truetype");
}

@font-face {
	font-family: "Headshots";
	src: url("../fonts/Headshots.otf") format("truetype");
}

@font-face {
	font-family: "DistortionDosAnalogue";
	src: url("../fonts/DistortionDosAnalogue.otf") format("truetype");
}

@font-face {
	font-family: "PIGARNOS-NEUE-Regular";
	src: url("../fonts/PIGARNOS-NEUE-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "StretchPro";
	src: url("../fonts/StretchPro.otf") format("truetype");
}

@font-face {
	font-family: "kenyan-coffee";
	src: url("../fonts/kenyan-coffee.otf") format("truetype");
}

@font-face {
	font-family: "Akira-Expanded";
	src: url("../fonts/Akira-Expanded.otf") format("truetype");
}

@font-face {
	font-family: "BLUE-OCEAN";
	src: url("../fonts/BLUE-OCEAN.ttf") format("truetype");
}

@font-face {
	font-family: "CHARLEY";
	src: url("../fonts/CHARLEY.otf") format("truetype");
}

@font-face {
	font-family: "VAL";
	src: url("../fonts/VAL.otf") format("truetype");
}

@font-face {
	font-family: "Akira";
	src: url("../fonts/Akira.otf") format("truetype");
}

@font-face {
	font-family: "nothing";
	src: url("../fonts/nothing.ttf") format("truetype");
}


/* ? tipografias section ends here */

html,
body {
	background-color: var(--color-impure);
	color: white;
	font-family: Arial, sans-serif;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}



.user-stats {
	background-color: var(--color-main2);
	font-size: 1vw;
	font-family: "nothing";
	padding: 10px;
	border-radius: 8px;
	width: 300px;
	text-align: left;
    margin-top: 15vh;
}

.user-stats strong {
	color: gold;
}

.contenedor {
	margin-top: 5vh;
	background-color: var(--color-primary);
	padding: 20px;
	border-radius: 10px;
	width: 150%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	font-family: "nothing";
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-top: 10px;
}

input,
textarea {
	padding: 8px;
	margin-top: 5px;
	border: 1px solid var(--color-secondary2);
	border-radius: 5px;
	background-color: var(--color-terciary);
	color: var(--color-main2);
	font-family: "nothing";
}

.boton-cancelar {
	width: 50%;
	margin: auto;
	text-align: center;
	background-color: var(--color-terciary);
	color: var(--color-main2);
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	margin-top: 10px;
}

.boton-cancelar:hover {
	background-color: var(--color-secondary2);
}

#paypal-container {
	width: 50%;
	margin: auto;
	text-align: center;
	padding: 20px;
}

#paypal-button-container {
	margin-top: 20px;
	margin-bottom: 20px;
}