@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,800");


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
  --bg-color: #000000;
  --second-bg-color: #808080;
  --text-color: #ededed;
  --main-color: #D30303;
 --fd-color: #00b8fc;
   --forge-color: #8D1212;
}

@font-face {
	font-family: "NoorgeKarlos-Outline";
	src: url("../fonts/NoorgeKarlos-Outline.ttf") format("truetype");
  }

@font-face {
	font-family: "NoorgeKarlos-Regular";
	src: url("../fonts/NoorgeKarlos-Regular.ttf") format("truetype");
  }

@font-face {
	font-family: "Minio";
	src: url("../fonts/Minio.ttf") format("truetype");
  }
  
@font-face {
	font-family: "Nevolasty-Light";
	src: url("../fonts/Nevolasty-Light.otf") format("truetype");
  }

@font-face {
	font-family: "RONDOS";
	src: url("../fonts/RONDOS.otf") format("truetype");
  }  

  @font-face {
	font-family: "TheModernChaos";
	src: url("../fonts/TheModernChaos.ttf") format("truetype");
  }  

  @font-face {
	font-family: "DistortionDosAnalogue";
	src: url("../fonts/DistortionDosAnalogue.otf") format("truetype");
  }  

  @font-face {
	font-family: "BylanderItalic";
	src: url("../fonts/BylanderItalic.otf") format("truetype");
  }  

  @font-face {
	font-family: "Blastimo";
	src: url("../fonts/Blastimo.ttf") format("truetype");
  }    

  @font-face {
	font-family: "BigCityVibes";
	src: url("../fonts/BigCityVibes.otf") format("truetype");
  }  
  
  @font-face {
	font-family: "SPEEDRACE";
	src: url("../fonts/SPEEDRACE.ttf") format("truetype");
  }  

h1 {
	font-family: "TheModernChaos";
	font-size: 5.25vmin;
	text-align: center;
	color: #D30303;
}


.wrap {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 85vmin;
	height: 25em;
	margin: 2rem auto;
	border: 8px solid;
	transition: .3s ease-in-out;
	position: relative;
	overflow: hidden;
	border-image: linear-gradient(-50deg, #000000, #000000, #000000, #000000, #000000, #000000, #000000) 1;
}
.overlay {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 1rem .75rem;
	background: #000000;
	transition: .4s ease-in-out;
	z-index: 1;
}
.overlay-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 15vmin;
	height: 100%;
	padding: .5rem 0 0 .5rem;
	border: 3px solid;
	border-image: 
    	linear-gradient(
      	to bottom, 
      	#D30303 5%,
      	#D30303,
      	#D30303 95%
    	) 0 0 0 100%;
	transition: .3s ease-in-out .2s;
	z-index: 1;
}
.image-content {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../img/productos/w.png");
	background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}

.inset {
	max-width: 50%;
	margin: 0.25em 1em 1em 0;
	border-radius: 0.25em;
	float: left;
}

.dots {
	position: absolute;
	bottom: 1rem;
	right: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 55px;
	height: 4vmin;
	transition: .3s ease-in-out .3s;
}
.dot {
	width: 14px;
	height: 14px;
	background: #D30303;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 50%;
	transition: .3s ease-in-out .3s;
}

.text {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	padding: 3vmin 4vmin;
	background: #414040;
	box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / .4);
	overflow-y: scroll;
}

.text p {
	font-family: "NoorgeKarlos-Regular";
	font-size: 1.5vmin;
	color: #ededed;
	line-height: 1.5;
	text-align: justify;
}

.text p span {
	font-family: "NoorgeKarlos-Regular";
	font-size: 1.5vmin;
	color: var(--main-color);
	line-height: 1.5;
	text-align: justify;
}

.wrap:hover .overlay
 {
	transform: translateX(-60vmin);
}
.wrap:hover .image-content {
	width: 30vmin;
}
.wrap:hover .overlay-content {
	border: none;
	transition-delay: .2s;
	transform: translateX(60vmin);
}
.wrap:hover .dots {
	transform: translateX(1rem);
}
.wrap:hover .dots .dot {
	background: white;
}


.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 32.5rem;
  height: 5rem;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--bg-color);
  border: .2rem solid var(--main-color);
  border-radius: .8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .1rem;
  color: var(--text-color);
  z-index: 1;
  overflow: hidden;
}

.btn-box .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: .5s;
}

.btn-box .btn:hover::before {
  width: 100%;
}

.btn-box.btns {
  display: inline-block;
  width: 15rem;
}

.btn-box.btns a::before {
  background: var(--second-bg-color);
}


/* Animations and timing delays */
.animate {
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-fill-mode: backwards;
}
/* Pop In */
.pop { animation-name: pop; }
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Slide In */
.slide { animation-name: slide; }
@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(4em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Slide Left */
.slide-left { animation-name: slide-left; }
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slide-up {animation-name: slide-up;}
@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(3em);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.6s;
}
.delay-3 {
  animation-delay: 0.9s;
}
.delay-4 {
  animation-delay: 1.2s;
}
.delay-5 {
  animation-delay: 1.5s;
}
.delay-6 {
  animation-delay: 1.8s;
}
.delay-7 {
  animation-delay: 2.1s;
}
.delay-8 {
  animation-delay: 2.4s;
}


