* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "MonumentExtended";
    src: url("../fonts/MonumentExtended.otf") format("truetype");
  }

  @font-face {
    font-family: "BasementGrotesque";
    src: url("../fonts/BasementGrotesque.otf") format("truetype");
  }
  @font-face {
    font-family: "FormulaCondensed";
    src: url("../fonts/FormulaCondensed.otf") format("truetype");
  }

html, 
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #000;
}

.container {
    width: 100%;
    height: 90vh;
}

p {
    font-family: "FormulaCondensed";
    color: #545454;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.5;
}

.row {
    color: #000;
}

.border-right {
    border-right: 2px solid #000;
}

.border-bottom {
    border-right: 2px solid #000;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-1 {
    position: relative;
    top: -100%;
    width: 100%;
    height: 30vh;
    display: flex;
    background-color: #b3b0aa;
    z-index: 2;
}

.brand-name {
    position: relative;
    left: -100%; 
    flex: 5;
}

.brand-name .header h1 {
    font-family: "BasementGrotesque";
    font-weight: 800;
    font-size: 8rem;
    text-transform: uppercase;
}

.brand-contact {
   position: relative;
   left: -4rem; 
   flex-direction: column;
   flex: 2;
}

.row-2 {
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    z-index: 0;
}

.hero-copy {
    flex: 5;
}

.hero-img {
    flex: 2;
}

.img-container {
    position: relative;
    overflow: hidden;
    flex: 3;
    height: 100%;
}

img{
   position: absolute; 
   width: 100%;
   height: 100%;
   object-fit: cover;

}

.box {
    background: #b3b0aa;
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.empty-rows {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: #b3b0aa;
}

.white-space {
    width: 100%;
}

.white-space:nth-child(1) {
    flex: 3;
}

.white-space:nth-child(2) {
    flex: 2;
}

.row-2 {
    position: relative;
    top: -100%;
}

.hero-copy {
  display: flex;
  flex-direction: column;
}

.i-row {
    width: 100%;
    display: flex;
}

.i-row > .col {
    background: #b3b0aa;
}

.i-row1 {
    flex: 3;
}

.i-row2 {
    flex: 2;
}

.i-row .col:nth-child(1) {
    flex: 3;
}

.i-row .col:nth-child(2) {
    flex: 2;
}

.i-row .col:nth-child(1) {
    border-radius: 0 0 40px 0;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.i-row .col:nth-child(2) {
    border-radius: 0 0 0 40px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}

.i-row2 .col:nth-child(1) {
    border-radius: 0 40px 0 0;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
}

.i-row2 .col:nth-child(2) {
    border-radius: 40px 0 0 0;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
}

.projects {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.projects-list {
    padding: 0 4em;
}

.h-stripe {
    position: absolute;
    padding: 1em;
    right: -8em;
    transform: rotate(-90deg);
    width: 100%;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "MonumentExtended";
    overflow: hidden;
} 

.h-stripe span {
    position: relative;
}

.text {
    position: relative;
    font-family: "FormulaCondensed";
    text-transform: uppercase;
}

.lets-talk p {
    font-size: 3rem;
}

.lets-talk p span {
    font-family: "Basement Grotesque";
    color: #000;
    text-transform: uppercase;
}

.stripe {
    position: relative;
    overflow: hidden;
}

.line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 2px;
    background: #000;
}

.brand-name ,
 .brand-contact {
    position: relative;
    overflow: hidden;
}

h1,
span {
    position: relative;
    top: 400px;
}

/* marquee */

.marquee {
    position: relative;
    bottom: 0%;
    width: 100%;
    margin: 0 auto;
    padding: 0.2em 0;
    white-space: nowrap;
    overflow: hidden;
    z-index: 3;
    background: #000;
    display: flex;
    align-items: center;
}

.marquee span {
    font-family: "Formula Condensed";
    text-transform: uppercase;
    font-weight: 400;
    color: #b3b0aa;
    font-size: 4em;
    text-transform: uppercase;
    padding-left: -10%;
    animation: marquee-animation 80s linear infinite;
}

@keyframes marquee-animation {
    0% {
        transform: translateX(0, 0);
    }
    100% {
        transform: translateX(-100%, 0);
    }
}
