* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "MonumentExtended";
    src: url("../fonts/MonumentExtended.otf") format("truetype");
  }

  @font-face {
    font-family: "BasementGrotesque";
    src: url("../fonts/BasementGrotesque.otf") format("truetype");
  }
  @font-face {
    font-family: "FormulaCondensed";
    src: url("../fonts/FormulaCondensed.otf") format("truetype");
  }

html, 
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #000;
}

.container {
    width: 100;
    height: 50%;
}

p {
    font-family: "FormulaCondensed";
    color: #545454;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.5;
}

.row {
    color: #000;
}

.border-right {
    border-right: 2px solid #000;
}

.border-bottom {
    border-right: 2px solid #000;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-1 {
    position: relative;
    top: -150%;
    width: 100%;
    height: 30vh;
    display: flex;
    background-color: #b3b0aa;
    z-index: 2;
}

.brand-name {
    position: relative;
    left: -100%;
    flex: 5;
}

.brand-name .header h1 {
    font-family: "BasementGrotesque";
    font-weight: 800;
    font-size: 8rem;
    text-transform: uppercase;
}

.brand-contact {
   position: relative;
   left: -4rem; 
   flex-direction: column;
   flex: 2;
}

.row-2 {
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    z-index: 0;
}

.hero-copy {
    flex: 5;
}

.hero-img {
    flex: 2;
}

.img-container {
    position: relative;
    overflow: hidden;
    flex: 3;
    height: 120%;
}

img{
   position: absolute; 
   width: 100%;
   height: 100%;
   object-fit: cover;

}

.box {
    background: #b3b0aa;
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.empty-rows {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: #b3b0aa;
}

.white-space {
    width: 100%;
}

.white-space:nth-child(1) {
    flex: 3;
}

.white-space:nth-child(2) {
    flex: 2;
}

.row-2 {
    position: relative;
    top: -150%;
}

.hero-copy {
  display: flex;
  flex-direction: column;
}

.i-row {
    width: 100%;
    display: flex;
}

.i-row > .col {
    background: #b3b0aa;
}

