* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: "sans-serif";
	scroll-behavior: smooth;
}

/* TODO: root section starts here */

:root {
	--color-primary: #0D1117;
	--color-secondary: #f9f9f9;
	--color-secondary2: #868e96;
	--color-terciary: #30353d;
	--color-terciary-translucent: #30353d97;
	--color-terciary2-translucent: #dbdee497;
	--color-main2: #d32222;
	--color-main: rgb(57, 239, 12);
	--color-pure: #ffffff;
	--color-impure: #000000;
}


/* TODO: root section ends here */


/* ? tipografias section starts here */

@font-face {
	font-family: "Mars Model";
	src: url("../fonts/MarsModel.ttf") format("truetype");
}

@font-face {
	font-family: "Arame-Thin";
	src: url("../fonts/Arame-Thin.ttf") format("truetype");
}

@font-face {
	font-family: "MonumentExtended";
	src: url("../fonts/MonumentExtended.otf") format("truetype");
}

@font-face {
	font-family: "BasementGrotesque";
	src: url("../fonts/BasementGrotesque.otf") format("truetype");
}

@font-face {
	font-family: "Nevolasty-Light";
	src: url("../fonts/Nevolasty-Light.otf") format("truetype");
}

@font-face {
	font-family: "BigCityVibes";
	src: url("../fonts/BigCityVibes.otf") format("truetype");
}

@font-face {
	font-family: "Headshots";
	src: url("../fonts/Headshots.otf") format("truetype");
}

@font-face {
	font-family: "DistortionDosAnalogue";
	src: url("../fonts/DistortionDosAnalogue.otf") format("truetype");
}

@font-face {
	font-family: "PIGARNOS-NEUE-Regular";
	src: url("../fonts/PIGARNOS-NEUE-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "StretchPro";
	src: url("../fonts/StretchPro.otf") format("truetype");
}

@font-face {
	font-family: "kenyan-coffee";
	src: url("../fonts/kenyan-coffee.otf") format("truetype");
}

@font-face {
	font-family: "Akira-Expanded";
	src: url("../fonts/Akira-Expanded.otf") format("truetype");
}

@font-face {
	font-family: "BLUE-OCEAN";
	src: url("../fonts/BLUE-OCEAN.ttf") format("truetype");
}

@font-face {
	font-family: "CHARLEY";
	src: url("../fonts/CHARLEY.otf") format("truetype");
}

@font-face {
	font-family: "VAL";
	src: url("../fonts/VAL.otf") format("truetype");
}

@font-face {
	font-family: "Akira";
	src: url("../fonts/Akira.otf") format("truetype");
}

@font-face {
	font-family: "nothing";
	src: url("../fonts/nothing.ttf") format("truetype");
}


/* ? tipografias section ends here */

/* * HTML BODY section starts here */

html,
body {
	font-family: 'nothing', sans-serif;
	background: var(--color-primary);
}


/* * HTML BODY section ends here */




.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: var(--color-pure);
}

/* ? Dark-Mode Container */

body.dark-mode .container {
	background-color: var(--color-impure);
}

.profile {
	display: flex;
	background-color: var(--color-main2);
	width: 60%;
	overflow: hidden;
}

.profile h2 {
	font-size: 24px;
	width: 16vw;
	font-family: "nothing";
	margin-bottom: 10px;
	margin-top: 30px;
	margin-left: 10px;
	color: var(--color-secondary);
}

.user-stats {
	padding: 30px;
	margin-top: 100px;
	margin-left: -250px;
	color: var(--color-secondary);
}

.user-stats p {
	text-align: left;
	margin-bottom: 10px;
	font-family: "nothing";
	color: var(--color-secondary);
}

.user-stats p strong {
	text-align: left;
	margin-bottom: 10px;
	font-family: "nothing";
	color: var(--color-impure);
}

.user-stats img {
	max-width: 250px;
	border-radius: 10%;
	margin-top: 20px;
}

.user-menu {
	flex: 1;
	padding: 20px;
	background-color: var(--color-impure);
}

/* ? Dark-Mode User-Menu */

body.dark-mode .user-menu {
	background-color: var(--color-pure);
}

.user-menu h2 {
	font-size: 18px;
	margin-bottom: 10px;
	color: var(--color-pure);
}

/* ? Dark-Mode User-Menu H2 */

body.dark-mode .user-menu h2 {
	color: var(--color-impure);
}

.user-menu form {
	margin-bottom: 20px;
}

.user-menu label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
	font-family: "nothing";
	color: var(--color-main2);
}

.user-menu input,
.user-menu textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	font-family: "nothing";
}

.user-menu button {
	background-color: var(--color-terciary);
	color: #fff;
	padding: 10px 15px;
	border: none;
	cursor: pointer;
	font-size: 16px;
}

.user-menu button:hover {
	background-color: var(--color-main2);
}