/* 
                                                         
,--. ,--.                ,--------.            ,--.      
|  .'   / ,---. ,--. ,--.'--.  .--',---.  ,---.|  ,---.  
|  .   ' | .-. : \  '  /    |  |  | .-. :| .--'|  .-.  | 
|  |\   \\   --.  \   '     |  |  \   --.\ `--.|  | |  | 
`--' '--' `----'.-'  /      `--'   `----' `---'`--' `--' 
                `---'                                      */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
:root {
			--color-primary: #ffffff;
}

@font-face {
    font-family: "Mars Model";
    src: url("../fonts/MarsModel.ttf") format("truetype");
  }

  @font-face {
    font-family: "Arame-Thin";
    src: url("../fonts/Arame-Thin.ttf") format("truetype");
  }

  @font-face {
    font-family: "MonumentExtended";
    src: url("../fonts/MonumentExtended.otf") format("truetype");
  }

  @font-face {
    font-family: "BasementGrotesque";
    src: url("../fonts/BasementGrotesque.otf") format("truetype");
  }

  @font-face {
    font-family: "FormulaCondensed";
    src: url("../fonts/FormulaCondensed.otf") format("truetype");
  }

  @font-face {
    font-family: "Nevolasty-Light";
    src: url("../fonts/Nevolasty-Light.otf") format("truetype");
  }

  @font-face {
    font-family: "NoorgeKarlos-Outline";
    src: url("../fonts/NoorgeKarlos-Outline.ttf") format("truetype");
  }

  @font-face {
    font-family: "BigCityVibes";
    src: url("../fonts/BigCityVibes.otf") format("truetype");
  } 

  @font-face {
    font-family: "AQUATIC";
    src: url("../fonts/AQUATIC.ttf") format("truetype");
  }  
  @font-face {
    font-family: "Barbarian";
    src: url("../fonts/Barbarian.ttf") format("truetype");
  }  

  @font-face {
    font-family: "DeathMohaw";
    src: url("../fonts/DeathMohaw.otf") format("truetype");
  }  
 
  @font-face {
    font-family: "adelia";
    src: url("../fonts/adelia.ttf") format("truetype");
  }  

  @font-face {
    font-family: "Headshots";
    src: url("../fonts/Headshots.otf") format("truetype");
  }  

  @font-face {
    font-family: "SnowWhite";
    src: url("../fonts/SnowWhite.ttf") format("truetype");
  }  

* {
			padding: 0;
			margin: 0;
			box-sizing: border-box;
			font-family: 'Roboto', sans-serif;
			font-weight: 400;
}

body {
			min-height: 100vh;
			width: 100%;
			background: black;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: nowrap;
}

/* Estilo para el contenedor de la alerta */
.alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    z-index: 1000; /* Asegura que la alerta esté por encima de otros elementos */
}

/* Estilo para los mensajes de éxito */
.alert-success {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
}

/* Estilo para los mensajes de error */
.alert-error {
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
}
.close-button {
	position: absolute;
	top: 5px;
	right: 10px;
	width: 20px;
	height: 20px;
	background-color: #ff0000; /* Color de fondo de la cruz */
	color: #fff; /* Color del texto de la cruz */
	font-size: 10px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
	z-index: 20; /* Asegúrate de que esté por encima del formulario */
  }
  .close-button a {
	text-decoration: none;
	color: #fff;
  }
  
  .close-button:hover {
	background-color: #ff5555; /* Cambia el color de fondo al pasar el mouse */
  }

.box {
			position: relative;
			width: 380px;
			height: 420px;
			border-radius: 10px;
			overflow: hidden;
}

.form {
			position: absolute;
			inset: 2px;
			background-color: #fff;
			border-radius: 10px;
			padding: 30px;
			display: flex;
			justify-content: space-evenly;
			flex-direction: column;
			z-index: 10;
}

h2 {
			font-size: 32px;
			font-weight: 900;
			color: #000;
			letter-spacing: 2.5px;
			text-align: center;
			font-family: "Nevolasty-Light";
			
}

.form-inputs {
			display: flex;
			flex-direction: column;
			gap: 30px;
}

.form-label {
			width: 100%;
			height: 50px;
			display: flex;
}

.form-label input {
			width: 100%;
			height: 100%;
			padding: 10px 30px;
			outline: none;
			background-color: #12121273;
			border: none;
			border-bottom: 1px solid var(--color-primary);
			color: var(--color-primary);
			font-size: 16px;
			transition: .5s;
			font-family: "Mars Model";
}

.form-label input:focus {
			border-radius: 10px;
			background-color: var(--color-primary);
			color: rgb(0, 0, 0);
}

.links {
			display: flex;
			flex-direction: column;
			gap: 10px;
}

.links a {
			text-decoration: none;
			color: #777;
			transition: .5s;
			font-family: "Arame-Thin";
			
}

.links a:first-child:hover {
			color: red;
}

.links a:nth-child(2) {
			color: #000;
}

input[type="submit"] {
			background-color: var(--color-primary);
			padding: 15px;
			border-radius: 10px;
			cursor: pointer;
			transition: .5s;
			font-family: "Arame-Thin";
}

input[type="submit"]:hover {
			background-color: #000;
			color: #fff;
			
}

