@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
:root {
	--color-primary: #0D1117;
	--color-secondary: #f9f9f9;
	--color-secondary2: #868e96;
	--color-terciary: #30353d;
	--color-terciary-translucent: #30353d97;
	--color-terciary2-translucent: #dbdee497;
	--color-main: rgb(57, 239, 12);
}

@font-face {
	font-family: "Mars Model";
	src: url("../fonts/MarsModel.ttf") format("truetype");
}

@font-face {
	font-family: "Arame-Thin";
	src: url("../fonts/Arame-Thin.ttf") format("truetype");
}

@font-face {
	font-family: "MonumentExtended";
	src: url("../fonts/MonumentExtended.otf") format("truetype");
}

@font-face {
	font-family: "BasementGrotesque";
	src: url("../fonts/BasementGrotesque.otf") format("truetype");
}

@font-face {
	font-family: "Nevolasty-Light";
	src: url("../fonts/Nevolasty-Light.otf") format("truetype");
}

@font-face {
	font-family: "BigCityVibes";
	src: url("../fonts/BigCityVibes.otf") format("truetype");
}

@font-face {
	font-family: "Headshots";
	src: url("../fonts/Headshots.otf") format("truetype");
}

@font-face {
	font-family: "DistortionDosAnalogue";
	src: url("../fonts/DistortionDosAnalogue.otf") format("truetype");
}

@font-face {
	font-family: "PIGARNOS-NEUE-Regular";
	src: url("../fonts/PIGARNOS-NEUE-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "StretchPro";
	src: url("../fonts/StretchPro.otf") format("truetype");
}

@font-face {
	font-family: "kenyan-coffee";
	src: url("../fonts/kenyan-coffee.otf") format("truetype");
}

@font-face {
	font-family: "Akira-Expanded";
	src: url("../fonts/Akira-Expanded.otf") format("truetype");
}

@font-face {
	font-family: "BLUE-OCEAN";
	src: url("../fonts/BLUE-OCEAN.ttf") format("truetype");
}

@font-face {
	font-family: "CHARLEY";
	src: url("../fonts/CHARLEY.otf") format("truetype");
}

@font-face {
	font-family: "VAL";
	src: url("../fonts/VAL.otf") format("truetype");
}

@font-face {
	font-family: "Akira";
	src: url("../fonts/Akira.otf") format("truetype");
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

html,
body {
	min-height: 100vh;
	width: 100%;
	background: var(--color-primary);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}


/* Estilo para el contenedor de la alerta */

.alert {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	text-align: center;
	z-index: 1000;

}


/* Estilo para los mensajes de éxito */

.alert-success {
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
	color: #3c763d;
}


/* Estilo para los mensajes de error */

.alert-error {
	background-color: #f2dede;
	border: 1px solid #ebccd1;
	color: #a94442;
}

.close-button {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
	z-index: 20;
}

.close-button a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}

.box {
	position: relative;
	width: 380px;
	height: 420px;
	border-radius: 10px;
	overflow: hidden;
}

.form {
	position: absolute;
	inset: 2px;
	background-color: var(--color-terciary);
	border-radius: 10px;
	padding: 30px;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	z-index: 10;
}

h2 {
	font-size: 32px;
	font-weight: 900;
	color: #f8f8f8;
	letter-spacing: 2.5px;
	text-align: center;
	font-family: "PIGARNOS-NEUE-Regular";
}

.form-inputs {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.form-label {
	width: 100%;
	height: 50px;
	display: flex;
}

.form-label input {
	width: 100%;
	height: 100%;
	padding: 10px 30px;
	outline: none;
	background-color: var(--color-secondary2);
	border: none;
	border-bottom: 1px solid var(--color-primary);
	color: var(--color-main);
	font-size: 16px;
	transition: .5s;
	font-family: "PIGARNOS-NEUE-Regular";
}

.form-label input:focus {
	border-radius: 10px;
	background-color: var(--color-main);
	color: var(--color-primary);
}

.links {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.links a {
	text-decoration: none;
	color: #777;
	transition: .5s;
	font-family: "PIGARNOS-NEUE-Regular";
}

.links a:first-child:hover {
	color: var(--color-main);
}

.links a:nth-child(2) {
	color: #f9f9f9;
}

input[type="submit"] {
	background-color: var(--color-primary);
	padding: 15px;
	border-radius: 10px;
	cursor: pointer;
	transition: .5s;
	font-family: "PIGARNOS-NEUE-Regular";
	color: var(--color-secondary2);
}

input[type="submit"]:hover {
	background-color: #000;
	color: #fff;
}