:root {
    --bg: #d7d2c9;
    --primary: #d34d48;
    --secondary: #8b8989;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Neue Montreal', sans-serif;
}

html, body {
   
    overflow: hidden;
    background-color: #0f0f0f;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.wrapper {
    height: 100vh;
}

/* wrappers */

.hero-image-wrapper {
    position: relative;
    flex: 2;
}

.hero.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-image-wrapper .bg-img {
    position: relative;
    transform: rotate(-180deg);
    width: 100%;
    height: 100%;
    z-index: -2;
}

.hero-image-wrapper .front-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    z-index: 2;
}

.content-wrapper {
    flex: 3;
    background: var(--bg);
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* nav */

.content-wrapper nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.content-wrapper nav p {
    color: var(--secondary);
}

.content-wrapper nav a {
    text-decoration: none;
    color: var(--primary);
}

.content-wrapper nav button {
    position: relative;
    border: none;
    outline: none;
    background: none;
    font-size: 14px;
}

.content-wrapper nav button:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 1.5px;
    top: 20px;
    background: #000;
}

/* header */

header {
    width: 100rem;
}

header h1, header h2 {
    font-family: "Gangsar";
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 1.25rem;
    margin: 0.2em 0;
}

header h2 {
    font-size: 2rem;
    color: var(--secondary);
}

header h1 {
    width: 500px;
    font-size: 8rem;
}

/* form-wrapper */

.form-wrapper {
    position: relative;
    margin: 3em 0;
    z-index: 2;
}

.form-wrapper form {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.form-wrapper form input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    padding: 1em;
    font-size: 16px;
    border-bottom: 2px solid #000;
}

.form-wrapper form input::placeholder {
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
}

.form-wrapper form button {
    background: var(--bg);
    outline: none;
    border: 2px solid #000;
    padding: 1.5em 3em;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: var(--primary);
}

.form-wrapper form button:hover {
    background: var(--primary);
    color: var(--bg);
}

.form-wrapper p {
    padding: 2em 0;
    width: 70%;
    font-size: 14px;
    line-height: 1.5;
    color: var(--secondary);
}

/* footer */

footer p, footer span {
    position: relative;
    font-family: "Gangsar";
    text-transform: uppercase;
    letter-spacing: 0,2em;
    font-size: 2rem;
    font-weight: lighter;
}

footer span {
    position: relative;
}

footer span:after {
    position: absolute;
    content: "";
    display: block;
    width: 3.5rem;
    height: 1.5px;
    top: 40px;
    right: 0.3rem;
    background: var(--primary);
}

/* header animation wrappers */

header .h1,
header .h2 {
    position: relative;
}

header h1,
header h2 {
    position: relative;
    top: 120px;
}

.header-revealer::after {
    content: "";
    position: absolute;
    top: 120px;
    left: 0;
    width: 800px;
    height: 120px;
    background: var(--bg);
    margin: 0 auto;
    z-index: 0;
}

/* overlay animation  */

.hero-image-wrapper,
.content-wrapper,
.front-img {
    overflow: clip;
    clip-path: inset(0 0 0 0);
}

/* responsives */

@media (max-width: 768px) {
    header h1 {
        font-size: 5rem;
    }

    header h2 {
        font-size: 1.5rem;
    }

    .form-wrapper form input,
    .form-wrapper form input::placeholder,
    .form-wrapper form button {
        font-size: 10px;
    }

    .form-wrapper button {
        padding: 0.5em 1em;
    }

    footer p,
    footer span {
        font-size: 18px;
    }
}

/* Márgenes y espaciado */
.container {
    margin: 1em; /* Ajusta según tu diseño */
}

.form-wrapper {
    margin: 2em 0;
}