html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto Mono", monospace !important;
    background: #0D1117!important;
    color: #f5f5dc !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
}

.profile {
    margin-top: 30px;
}

.profile-header {
    text-align: center;
}

.profile-header h2 {
    font-size: 24px;
}

.profile-details {
    margin-top: 30px;
}

.profile-details .row {
    margin-bottom: 20px;
}

.profile-details label {
    font-size: 14px;
    color: #999;
}

.profile-details input, .profile-details textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-bottom: 1px solid #dfdfdf;
    background: transparent;
    color: #fff;
    font-weight: bold;
}

.edit-profile-btn, .save-profile-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: transparent;
    color: #dfdfdf;
    font-size: 16px;
    letter-spacing: 2px;
    border: 1px solid #dfdfdf;
    cursor: pointer;
}

.edit-profile-btn:hover, .save-profile-btn:hover {
    background: #dfdfdf;
    color: #101010;
}

textarea {
    resize: vertical;
}
