/* Importación de fuentes desde Google Fonts y uicons */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


/* Estilos globales para elementos HTML */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth;
}

/* Definición de variables CSS personalizadas */

:root {
	--bg-color: #000000;
	--second-bg-color: #808080;
	--text-color: #ededed;
	--main-color: #D30303;
	--fd-color: #00b8fc;
	--forge-color: #8D1212;
}

/* Definición de fuentes personalizadas con @font-face */

@font-face {
	font-family: "Mars Model";
	src: url("../fonts/MarsModel.ttf") format("truetype");
}

@font-face {
	font-family: "Arame-Thin";
	src: url("../fonts/Arame-Thin.ttf") format("truetype");
}

@font-face {
	font-family: "MonumentExtended";
	src: url("../fonts/MonumentExtended.otf") format("truetype");
}

@font-face {
	font-family: "BasementGrotesque";
	src: url("../fonts/BasementGrotesque.otf") format("truetype");
}

@font-face {
	font-family: "FormulaCondensed";
	src: url("../fonts/FormulaCondensed.otf") format("truetype");
}

@font-face {
	font-family: "Nevolasty-Light";
	src: url("../fonts/Nevolasty-Light.otf") format("truetype");
}

@font-face {
	font-family: "NoorgeKarlos-Outline";
	src: url("../fonts/NoorgeKarlos-Outline.ttf") format("truetype");
}

@font-face {
	font-family: "BigCityVibes";
	src: url("../fonts/BigCityVibes.otf") format("truetype");
}

@font-face {
	font-family: "AQUATIC";
	src: url("../fonts/AQUATIC.ttf") format("truetype");
}

@font-face {
	font-family: "Barbarian";
	src: url("../fonts/Barbarian.ttf") format("truetype");
}

@font-face {
	font-family: "DeathMohaw";
	src: url("../fonts/DeathMohaw.otf") format("truetype");
}

@font-face {
	font-family: "adelia";
	src: url("../fonts/adelia.ttf") format("truetype");
}

@font-face {
	font-family: "Headshots";
	src: url("../fonts/Headshots.otf") format("truetype");
}

@font-face {
	font-family: "SnowWhite";
	src: url("../fonts/SnowWhite.ttf") format("truetype");
}

/* Estilos para el elemento HTML y el cuerpo del documento */

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 2000px;
	overflow-x: hidden;
	font-family: "MonumentExtended", Arial, Helvetica, sans-serif;
	background: #fff;
	color: black;
}

/* Estilos para el cuerpo en modo oscuro */

body.dark-mode {
	background-color: black;
	color: white;
}

/* Estilos para la barra de navegación */

nav {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	top: 50%;
}

/* Efecto de transición para elementos con la clase .hover-this */

.hover-this {
	transition: all 0.3s ease;
}

/* Estilos para elementos <span> */

span {
	display: inline-block;
	font-family: "Monument Extended";
	font-weight: 300;
	color: #fff;
	font-size: 36px;
	text-transform: uppercase;
	pointer-events: none;
	transition: transform 0.1s linear;
}

/* Estilos para el cursor */

.cursor {
	pointer-events: none;
	position: fixed;
	padding: 0.3rem;
	background-color: #333; /* Cambia este color al que desees en el modo claro */
	border-radius: 50%;
	mix-blend-mode: difference;
	transition: transform 0.3s ease;
  }
  
  .dark-mode .cursor {
	background-color: #fff; /* Cambia este color al que desees en el modo oscuro */

  }
  

/* Efecto de escala para el cursor al pasar el mouse sobre elementos .hover-this */

.hover-this:hover ~ .cursor {
	transform: translate(-50%, -50%) scale(8);
}

/* Media Query para pantallas con un ancho mínimo de 900px */

@media(min-width: 900px) {
	nav {
		display: flex;
		justify-content: space-around;
	}
}

/* Media Query para pantallas con un ancho máximo de 900px */

@media(max-width: 900px) {
	nav {
		top: 30%;
	}
	.hover-this {
		width: 100%;
		padding: 20px 0;
		display: inline-block;
	}
}

/* Estilos para la cabecera */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.5rem 1%;
	background: #f6efef;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	transition: .3s;
	backdrop-filter: blur(5px);
}

.dark-mode .header {
	background: #0E0D0D;
}

/* Estilos para la cabecera cuando está fija en la parte superior de la página */

.header.sticky {
	background: #e6e0e063;
}

.dark-mode .header.sticky {
	background: #00000063;
}

/* Estilos para el logotipo */

.logo span {
	position: relative;
	font-size: 2.5rem;
	color: var(--second-bg-color);
	font-family: "Nevolasty-Light";
	text-decoration: none;
	font-weight: 600;
}

/* Estilos para la barra de navegación */

.navbar {
	position: relative;
}

/* Estilos para los enlaces de la barra de navegación */

.navbar a {
	font-family: "Arame-Thin";
	font-size: 1.7rem;
	color: red;
	text-decoration: none;
	font-weight: 600;
	margin-left: 35px;
	transition: .3s;
}

/* Estilos para los botones de la barra de navegación */

.navbar button {
	outline: none;
}

/* Estilos para los elementos <span> dentro de la barra de navegación */

.navbar span {
	font-family: "Nevolasty-Light";
	font-size: 1.7rem;
	text-decoration: none;
	font-weight: 500;
	margin-left: 35px;
	transition: .3s;
	color: #000;
}

.dark-mode .navbar span {
	color: #fff;
}

/* Estilos para los enlaces dentro de los elementos <span> de la barra de navegación */

.navbar span a {
	font-family: "Nevolasty-Light";
	font-size: 1.7rem;
	color: var(--main-color);
	text-decoration: none;
	font-weight: 500;
	margin-left: 35px;
	transition: .3s;
}

/* Estilos para los enlaces de la barra de navegación al pasar el mouse sobre ellos o cuando están activos */

.navbar a img {
	text-align: center;
}

.navbar a:hover,
.navbar a.active {
	color: var(--second-bg-color);
}

/* Estilos para secciones generales */

section {
	min-height: 100vh;
}

/* Estilos para la sección de inicio */

.home {
	display: flex;
	align-items: center;
	background: #ffffff;
	width: 100%;
}

/* Estilos para el contenido de la sección de inicio */

.home-content {
	max-width: 100%;
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	background-size: cover;
	background-position: center;
}

/* Estilos para las imágenes flotantes en la sección de inicio */

.home-content img {
	height: 300px;
	width: 300px;
	position: relative;
	align-items: center;
}

/* Estilos para las imágenes flotantes animadas */

.floating-image {
	position: absolute;
	/* Coloca la imagen en posición absoluta dentro del contenedor */
	animation: floatAnimation 3s ease-in-out infinite;
	/* Aplica la animación con un bucle infinito */
	/* Ajusta el margen superior e inferior para controlar el rango de movimiento vertical */
	margin-top: -20px;
	/* Ajusta según tus necesidades */
	margin-bottom: -20px;
	/* Ajusta según tus necesidades */
}

/* Animación de las imágenes flotantes */

@keyframes floatAnimation {
	0%,
	100% {
		transform: translateY(0);
		/* Posición inicial y final: no se mueve */
	}
	50% {
		transform: translateY(-20px);
		/* Posición media: sube 20px */
	}
}

/* Estilos para el texto de la sección de inicio */

.home-content h2 {
	font-family: "Headshots";
	color: #000000;
	font-size: 5.6rem;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0.1em;
	display: block;
	white-space: nowrap;
	width: 14ch;
	border-right: 4px solid;
	animation: typing 2s steps(14), blink .5s infinite step-end alternate;
	overflow: hidden;
	position: absolute;
	bottom: 20px;
	/* Ajusta la distancia desde abajo según tus necesidades */
	left: 20px;
	/* Ajusta la distancia desde la izquierda según tus necesidades */
}

/* Animación de escritura para el texto de la sección de inicio */

@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

/* Estilos para la flecha de desplazamiento */

.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 100px;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 0;
	text-decoration: none;
	text-shadow: 0;
	width: 13px;
	height: 13px;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transform: translate(-50%, 0) rotate(45deg);
	animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

 .dark-mode .scroll-down {
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
 }

/* Animación de la flecha de desplazamiento */

@keyframes fade_move_down {
	0% {
		transform: translate(0, -20px) rotate(45deg);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translate(0, 20px) rotate(45deg);
		opacity: 0;
	}
}


/* Media Query para pantallas con un ancho máximo de 1200px */

@media (max-width: 1200px) {
	html {
		font-size: 55%;
	}
}

/* Media Query para pantallas con un ancho máximo de 991px */

@media (max-width: 991px) {
	.header {
		padding: 2rem 4%;
	}
	section {
		padding: 10rem 4% 2rem;
	}
	.home {
		padding: 0 4%;
	}
	.footer {
		padding: 2rem 4%;
	}
}

/* Media Query para pantallas con un ancho máximo de 768px */

@media (max-width: 768px) {
	.header {
		background: #00000063;
	}
	#menu-icon {
		display: block;
	}
	.navbar {
		position: absolute;
		top: 100%;
		left: -100%;
		width: 100%;
		padding: 1rem 4%;
		background: var(--bg-color);
		z-index: 1;
		transition: .25s ease;
		transition-delay: .25s;
	}
	.navbar.active {
		left: 0;
		transition-delay: 0s;
	}
	.navbar .active-nav {
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background: var(--main-color);
		z-index: -1;
		transition: .25s ease;
		transition-delay: 0s;
	}
	.navbar.active .active-nav {
		left: 0;
		transition-delay: .25s;
	}
	.navbar a {
		display: block;
		font-size: 2rem;
		margin: 3rem 0;
		transform: translateX(-20rem);
		transition: .25s ease;
		transition-delay: 0s;
	}
	.navbar.active a {
		transform: translateX(0);
		transition-delay: .25s;
	}
}


/* Estilos para sección de proyectos */

.whitespace {
	width: 100%;
	height: 100px;
}

/* Media Query para pantallas con un ancho máximo de 768px */

@media(max-width: 768px) {
	.whitespace {
		display: none;
	}
}

h6 {
	text-align: center;
}

.vertical {
	margin-top: 40px;
	border-left: 3px solid #8a6642;
	height: 80px;
	position: absolute;
	left: 50%;
}

.acerca {
	background: #f5f5dc;
}

.dark-mode .acerca {
	background: #0D1117;
}

/* Estilos para proyectos */

.project {
	height: 500px;
}

.col-lg-8 p,
.col-lg-6 p,
.col-lg-7 p {
	font-family: "Arame-Thin";
	font-size: 74px;
	padding-left: 100px;
	color: #000;
	margin-bottom: 10px;
}

.dark-mode p {
	color: #6f6b6b;
}

.dark-mode .col-lg-6 p {
	color: #6f6b6b;
}

.col-lg-6 p {
	font-size: 76px;
	color: #000;
	font-family: "Arame-Thin";
	margin-bottom: 10px;
}

/* Estilos para el proyecto 1 */

.project1 {
	background: url(../img/primary/teclado.jpg) no-repeat 50% 50%;
	background-size: cover;
}

.project1::after {
	content: "0010011"; /* Elimina el contenido inicial para la animación */
	font-family: "Arame-Thin";
	font-size: 46px;
	position: relative;
	color: #ff0000;
	display: block;
	top: 8%;
	left: -20%;
	right: 0;
	bottom: 0;
	overflow: hidden; 
	white-space: nowrap;
	width: 6ch;
	border-right: 2px solid;
	animation: typing 2s steps(6), blink .5s infinite step-end alternate;
  }
  
  @keyframes typing {
	from {
	  width: 0; /* Comienza con cero ancho para la animación */
	}
  }
	@keyframes blink {
		50% {
			border-color: transparent;
		}
  }
   
  
  
/* Estilos para el proyecto 2 */

.project2 {
	background: url(../img/primary/mic.jpg) no-repeat 50% 50%;
	background-size: cover;
}

.project2::after {
	content: "#%!@&%$#";
	font-family: "Arame-Thin";
	font-size: 46px;
	position: relative;
	color: #ff0000;
	display: block;
	top: 70%;
	left: 90%;
	right: 0;
	bottom: 0;
	overflow: hidden; 
	white-space: nowrap;
	width: 9ch;
	border-right: 2px solid;
	animation: typing 2s steps(9), blink .5s infinite step-end alternate;
}

/* Estilos para el proyecto 3 */

.project3 {
	background: url(../img/primary/mouse.jpg) no-repeat 50% 50%;
	background-size: cover;
}

.project3::after {
	content: "010101";
	font-family: "Arame-Thin";
	font-size: 46px;
	position: relative;
	color: #ff0000;
	display: block;
	top: 60%;
	left: -20%;
	right: 0;
	bottom: 0;
	overflow: hidden; 
	white-space: nowrap;
	width: 5ch;
	border-right: 2px solid;
	animation: typing 2s steps(5), blink .5s infinite step-end alternate;
}

/* Estilos para el proyecto 4 */

.project4 {
	background: url(../img/primary/headphones.jpg) no-repeat 50% 50%;
	background-size: cover;
}

.project4::after {
	content: "/(#$)#!&%";
	font-family: "Arame-Thin";
	font-size: 46px;
	position: relative;
	color: #ff0000;
	display: block;
	top: 10%;
	left: 70%;
	right: 0;
	bottom: 0;
	overflow: hidden; 
	white-space: nowrap;
	width: 9ch;
	border-right: 2px solid;
	animation: typing 2s steps(9), blink .5s infinite step-end alternate;
}

/* Media Query para pantallas con un ancho máximo de 768px */

@media(max-width: 768px) {
	.project {
		width: 90% !important;
		margin: 14px auto;
	}
	.vertical {
		display: none;
	}
	.project1::after,
	.project2::after,
	.project3::after,
	.project4::after {
		display: none;
	}
}

/* Estilos para el pie de página */

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 2rem 9%;
	background: #000000;
}

/* Estilos para el marquesina */

.marquee {
	overflow: hidden;
	background-color: #0D1117;
	color: #f5f5dc;
	font-size: 60px;
	white-space: nowrap;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	position: sticky;
	bottom: 0;
	align-items: center;
	text-align: center;
}

.marquee span {
	display: inline-block;
	font-family: "Nevolasty-Light";
	animation: marquee 15s linear infinite;
	color: #f5f5dc;
}

  /* Estilos para el modo oscuro */
  .dark-mode .marquee {
	background-color: #f5f5dc;
  }

  .dark-mode .marquee span {
	color: #0D1117;
  }
/* Animación de la marquesina */

@keyframes marquee {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(100%);
	}
}